.articles-list {
  article {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 20px;
    transition: border .25s linear;

    &:hover {
      border-color: $grey;
    }

    @media all and (max-width: $small) {
      margin-bottom: 28px;
    }

    @media all and (min-width: $medium) {
      margin-bottom: 34px;
    }
  }

  img {
    margin-bottom: 20px;
    max-width: 100%;
  }

  h2 {
    display: block;
    margin-bottom: 10px;

    @media all and (max-width: $small) {
      font-size: 26px;
    }

    @media all and (min-width: $medium) {
      font-size: 34px;
    }
  }

  .date {
    font-size: 14px;
    letter-spacing: .02em;
    margin-bottom: 20px;

    @media all and (max-width: $small) {
      line-height: 26px;
    }

    @media all and (min-width: $medium) {
      line-height: 30px;
    }
  }

  .body {
    margin-bottom: 15px;
  }

  a {
    color: $grey;
    text-decoration: none;
  }

  .read-more {
    color: $red;
    font-family: $secondary-font;
    font-size: 11px;
    text-transform: uppercase;
  }
}
