.article {

  h1 {
    color: $text-color;
    font-weight: 700;
    margin-bottom: 10px;

    @media all and (max-width: $small) {
      font-size: 26px;
    }

    @media all and (min-width: $medium) {
      font-size: 34px;
    }
  }

  .date {
    font-size: 14px;

    @media all and (max-width: $small) {
      margin-bottom: 28px;
    }

    @media all and (min-width: $medium) {
      margin-bottom: 34px;
    }
  }

  p {
    color: $text-color;
    font-weight: 400;
    letter-spacing: .02em;

    @media all and (max-width: $small) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 28px;
    }

    @media all and (min-width: $medium) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 34px;
    }

    @media all and (min-width: $large) {
      font-size: 20px;
    }
  }

  a {
    border-bottom: 1px solid $white;
    color: $link-color;
    outline: none;
    transition: border .25s ease;

    &:hover {
      border-bottom-color: $link-color;
    }

    @media all and (max-width: $small) {
      text-decoration: underline;

      &:hover {
        border-bottom-color: $white;
      }
    }

    @media all and (min-width: $medium) {
      text-decoration: none;
    }
  }

  .iframe {
    height: auto;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    @media all and (max-width: $small) {
      margin-bottom: 28px;
    }

    @media all and (min-width: $medium) {
      margin-bottom: 34px;
    }
  }

  iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

}
