* {
  font-family: $defaul-font;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;

  @media all and (max-width: $small) {
    background-color: $white;
  }

  @media all and (min-width: $large) {
    background-image: linear-gradient(to right, $background-color 0%, $background-color 300px, $white 300px, $white 100%);
  }
}

.container {
  overflow: auto;
}

.column-left,
.column-right {
  box-sizing: border-box;

  @media all and (max-width: $small) {
    float: none;
  }

  @media all and (min-width: $large) {
    float: left;
  }
}

.column-left {
  @media all and (max-width: $small) {
    background-color: $white;
    padding: 0 20px;
  }

  @media all and (min-width: $medium) {
    padding: 0 40px;
  }

  @media all and (min-width: $large) {
    background-color: $background-color;
    padding: 0 20px;
    width: 300px;
  }
}

.column-right {
  background-color: $white;

  @media all and (max-width: $small) {
    padding: 40px 20px;
  }

  @media all and (min-width: $medium) {
    padding: 40px;
  }

  @media all and (min-width: $large) {
    max-width: 1110px;
    padding: 40px 80px;
    width: calc(100% - 300px);
  }
}
