<!doctype html>
<html>
  <%= partial "shared/head" %>

  <body class="<%= page_classes %>">
    <div class="container">

      <%= partial "shared/column-left" %>

      <section  class="column-right articles-list">
        <%= yield %>
      </section>

    </div>
  </body>
</html>
