<section class="column-left">
  <h1>
    <% link_to '/' do %>
      <%= partial "shared/dm-logo" %>
    <% end %>
  </h1>

  <div class="intro">
    <p>
      Hi, My is Diego Maia
    </p>
    <p>
      A Brazilian UI Designer &<br/>
      Front-End Developer based in Wellington, NZ
    </p>
    <p>
      And here is where I sometimes post works, photos and some random stuff.
    </p>
  </div>

  <nav class="navigation">
    <h2>Menu</h2>
    <ul>
      <!-- <li>
        <a href="#">Photos</a>
      </li> -->
      <!-- <li>
        <a href="#">Contact</a>
      </li> -->
      <li>
        <a href="https://www.instagram.com/dgmaia" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="https://nz.linkedin.com/in/dmaia" target="_blank">linkedIn</a>
      </li>
      <li>
        <a href="https://github.com/dgmaia/" target="_blank">Github</a>
      </li>
    </ul>
  </nav>
</section>
