<nav class="navigation">
  <h2>Menu</h2>
  <ul class="main-menu">
    <li>
      <% link_to '/' do %><span>Home</span><% end %>
    </li>
    <li>
      <a href="about"><span>About</span></span></a>
    </li>
    <li>
      <a href="https://www.instagram.com/dgmaia" target="_blank"><span>Instagram</span></a>
    </li>
    <li>
      <a href="https://nz.linkedin.com/in/dmaia" target="_blank"><span>LinkedIn</span></a>
    </li>
    <li>
      <a href="https://github.com/dgmaia/" target="_blank"><span>Github</span></a>
    </li>
    <li>
      <a href="#"><span>Contact</span></a>
    </li>
  </ul>
</nav>
