---
title: Precise Pursuit Curve
date: 2016-05-04 07:21 UTC
---

<a href="<%= current_article.url %>">
  <img title="Javascript Pursuit Pattern" src="/images/pursuit-pattern.png" />
</a>

I doodle a lot at work, It helps me think about stuff I'm working on.<br/> My way to have a wee break, not directly working on the problem but trying
to put some ideas together.

(READMORE)

And after I saw the video below I couldn't stop doing the pattern.

<div class="iframe">
  <iframe src="https://www.youtube.com/embed/vln7rc5WYWM" frameborder="0" allowfullscreen></iframe>
</div>

Not having good drawing skills and being perfectionist is not a nice combination.<br/>So I decided to draw it with Javascript.

[Have a look](../../../pursuit-curve)
