.dm-logo {
  display: block;
  height: auto;
  margin: 0 auto 10px;
  width: 200px;

  &:hover {
    circle {
      fill: $white;
    }

    path {
      fill: $white;
      stroke: $grey;
    }
  }

  circle {
    fill: $grey;
    stroke: $grey;
    stroke-width: 13px;
    transition: fill .5s ease, stroke .5s ease;
  }

  path {
    fill: $grey;
    stroke: $white;
    stroke-width: 12px;
    transition: fill .5s ease, stroke .5s ease;
  }
}
